{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'income'%}">Income</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Income</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'add-income' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="amount"
            value="{{values.amount}}"
          />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{values.description}}"
          />
        </div>

        <div class="form-group">
          <label for="sourceSelect">Sources</label>
          <select class="form-control" id="sourceSelect" name="source">
            <option value="">--Select Existing or Add New--</option>
            {% for source in sources %}
            <option value="{{ source.name }}">{{ source.name }}</option>
            {% endfor %}
            <option value="other">--Add New--</option>
          </select>
        </div>
        <div class="form-group" id="newSourceInput" style="display:none;">
          <label for="newSource">New Source</label>
          <input type="text" class="form-control" id="newSource" name="new_source" placeholder="Enter new source">
        </div>

        <script>
          document.getElementById('sourceSelect').addEventListener('change', function() {
            var value = this.value;
            var newSourceInput = document.getElementById('newSourceInput');
            if(value === 'other') {
              newSourceInput.style.display = 'block';
            } else {
              newSourceInput.style.display = 'none';
            }
          });
        </script>
        
        <div class="form-group">
          <label for="">Date of Income</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="income_date"
          />
        </div>

        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}





